body{
    background-color: whitesmoke;
}

#main-text{
    color: #343a40!important;
    font-size: 3.5em;
    font-weight: 600;
}

.sub-text{
    color: #343a40!important;
    font-size: 1.5em;
}

.box{
    background-color: white;
}