<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header">
    <title>Gathering-bot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<head th:replace="fragments/navbar::navbar">

<div class="container">
    <div class="row">
        <div class="col m-5 p-5">
            <div id="main-text">
                Gathering-Bot
            </div>
            <div class="mt-5 pt-3 sub-text">
                Automate Your team answer.
                Gathering-Bot will save your time.
                Add answer & show result!
            </div>
            <div class="mt-5 pt-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary btn-lg m-2" data-toggle="modal"
                        data-target="#exampleModal">Create New Form
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div th:replace="fragments/add-modal::add-modal"></div>
                </div>
                <!--Result-->
                <button type="button" class="btn btn btn-outline-success btn-lg m-2" onclick="location.href='result'">Show Result</button>
            </div>
        </div>
        <div class="col m-5 p-5">
            <img src="images/robot.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>

    <head th:replace="fragments/script::script">

</body>

</html>