body {
    /*background: no-repeat center fixed;*/
    /*background-size: cover;*/
    /*background-image: url('../assets/background.png');*/
    background-color: #f4f4f4;
}

.app {
    min-height: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
}

.app-contents {
    height: calc(100% - 64px - 102px);
}

h1 {
    text-align: center;
    font-weight: bold;
}

